@page "/"

@inject IMediaDevicesService MediaDevicesService
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
@using BlazorApp1.Components
@using KristofferStrube.Blazor.MediaCaptureStreams

<PageTitle>Home</PageTitle>

<h1>Blazor.WebAudioの確認サンプル</h1>

<button class="btn @RecBtnClass" aria-label="Record or Stop" @onclick="RecordOrStop" disabled="@IsPostingRecData" style="box-shadow:none;">
    @if (IsRecording)
    {
        <i class="bi bi-stop-circle"></i>
    }
    else
    {
        if (IsPostingRecData)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="visually-hidden">Loading...</span>
        }
        else
        {
            <i class="bi bi-mic"></i>
        }
    }
</button>

@* <button class="btn btn-primary" type="button" style="box-shadow:none;">outline</button>
<button class="btn btn-primary" type="button" style="outline:none">box-shadow</button> *@
@code {
    private bool IsRecording = false;
    private string RecBtnClass => IsRecording ? "btn-danger" : "btn-outline-primary";

    private bool IsPostingRecData = false;
    private AudioRecordContext _recorder = null!;

    private PlayAudioContext _player = null!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("eval", @"window.getFloat32Array = (array) => { return Array.from(array); };");
            var mediaDevices = await MediaDevicesService.GetMediaDevicesAsync();
            var constraints = new MediaTrackConstraints { EchoCancellation = true, NoiseSuppression = true, AutoGainControl = false };
            var mediaStream = await mediaDevices.GetUserMediaAsync(new MediaStreamConstraints() { Audio = constraints });
            _recorder = new AudioRecordContext(JSRuntime, mediaStream);
            await _recorder.EnsureInitializedAsync();

            _player = new PlayAudioContext(JSRuntime);
            await _player.EnsureInitializedAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine("Unexpected exeption occured.{0}", ex.Message);
        }
    }

    public async Task RecordOrStop()
    {
        if (!IsRecording)
        {
            await _recorder.StartAsync();
            IsRecording = true;
        }
        else
        {
            //TODO: プログレス表示・不活性
            IsRecording = false;
            IsPostingRecData = true;
            var wavBytes = await _recorder.StopAsync();
            await _player.SetSoundAsync(wavBytes);
            await _player.StartAsync();
            IsPostingRecData = false;
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_recorder != null)
            await _recorder.DisposeAsync();
        if (_player != null)
            await _player.DisposeAsync();

        await JSRuntime.InvokeVoidAsync("eval", @"delete window.getFloat32Array;");
    }
}
