@inherits LayoutComponentBase
@using BlazorBootstrap

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
            <a href="javascript:void(0);" @onclick="OnShowModalClick">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Modal @ref="modal" Title="Modal title">
    <BodyTemplate>
        Modal body text goes here.
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
    </FooterTemplate>
</Modal>

@code {
    private Modal modal = default!;

    private async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }
}